.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.button {
    padding: 10px 20px;
    background-color: #3455eb;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #2b47b9;
}
